.apps {
  background-color: @background;

  color: @secondary-color;
  .font();
  font-size: 14px;
  font-weight: 300;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 271px;
}

.apps__list {
  .reset-list();
  margin-top: 26px;
}

.apps__item {
  display: inline;
  margin-right: 35px;
}

.apps__text {
  .reset();

  background-color: @background;

  color: @secondary-color;
  .font();
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;

  margin: 26px 44px 0 44px;
}

.apps__button {
  font-size: 18px;
  font-weight: 700;
  color: @secondary-color;
  text-align: center;

  background-color: transparent;
  border: 3px solid @secondary-color;
  border-radius: 30px;
  margin-top: 20px;

  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 281px;
  height: 55px;

  &:hover {
    color: @pink;
    background-color: @secondary-color;
  }

  &:active {
    color: fade(@pink, 30%);
    background-color: @secondary-color;
  }
}
