.page-header {
  background-color: fade(@primary-color, 30%);

  display: flex;
  flex-wrap: wrap;
  width: 320px;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo-image {
  &:hover {
    path {
      fill: @pink;
    }
  }

  &:active {
    path {
      fill: fade(@secondary-color, 30%);
    }
  }
}
