.page-footer {
  .font();
  font-size: 14px;
  font-weight: 400;
  color: @primary-color;
  text-align: center;

  background-color: @secondary-color;

  width: 320px;
  height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.page-footer__logo-image {
  &:hover {
    g path {
      fill: @pink;
    }
  }

  &:active {
    path {
      fill: fade(@primary-color, 30%);
    }

    g path {
      fill: fade(@primary-color, 30%);
    }
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 660px;
    height: 127px;
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1200px;
    height: 197px;
    flex-direction: row;

    font-size: 18px;
  }
  .page-footer__logo-image {

  }
}

