.page-header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.page-header__wrapper {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: fade(black, 30%);

  &--nojs .main-nav__toggle {
    display: none;
  }

  &--closed .main-nav__toggle-icon--cross {
    display: none;
  }

  &--opened .main-nav__toggle-icon--burger {
    display: none;
  }

  &--closed .main-nav__toggle-icon--burger {
    width: 50px;
    height: 24px;
  }

  &--opened .main-nav__toggle-icon--cross {
    width: 23px;
    height: 22px;
  }

  &--opened {
    background-color: @primary-color;
    box-shadow: 0 1px 0 0 @black, inset 0 1px 0 0 fade(@black, 15%);
    border-bottom: 1px solid @black;
  }
}

.page-header__logo-image {
  &:hover {
    path {
      fill: @pink;
    }
  }

  &:active {
    path {
      fill: fade(@secondary-color, 30%);
    }
  }
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    height: 110px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    height: 110px;
    width: 100%;
    text-align: center;
    background-color: fade(@black, 30%);
  }
  .page-header__logo-image {
    margin-left: 130px;
  }
}
