.page-footer {
  .font();
  font-size: 14px;
  font-weight: 400;
  color: @primary-color;
  text-align: center;

  background-color: @secondary-color;

  width: 320px;
  min-height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.page-footer__logo-image {
  &:hover {
    g path {
      fill: @pink;
    }
  }

  &:active {
    path {
      fill: fade(@primary-color, 30%);
    }

    g path {
      fill: fade(@primary-color, 30%);
    }
  }
}
