.photo__title {
  color: @secondary-color;
  .font();
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding: 30px 20px 0 20px;
  margin-top: 67px;
}

.photo {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-size: 320px 462px;
  background-position: top center;
  margin-top: -67px;

  display: flex;
  width: 320px;
  min-height: 237px;
}

