.reviews {
  color: #283645;
  .font();
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.reviews__arrow-left,
.reviews__arrow-right {
  fill: @grey;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  color: @black;
  font-style: normal;
}

@media (max-width: @tablet-width) {
  .reviews__quotes,
  .reviews__arrow-left,
  .reviews__arrow-right {
    display: none;
  }
} //не хочет работать

@media (max-width: @mobile-width) {
  .reviews__note {
    display: none; //втф
  }
}

@media (min-width: @desktop-width) {
  .reviews__quotes {
    fill: #efefef;
  }

  .reviews {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .reviews__author-name {
    font-size: 24px;
  }
}
