.social__list {
  .reset-list();
}

.social__link {
  border: 3px solid fade(@primary-color, 10%);
  border-radius: 50%;
  text-align: center;

  &:hover {
    border: 3px solid @primary-color;
  }

  &:active {
    border: 3px solid fade(@primary-color, 10%);

    path {
      fill: fade(@primary-color, 30%);
    }
  }
}

.social__item {
  display: inline;
  margin: 9px;
}
