.title__text {
  color: @secondary-color;
  .font();
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding: 30px 20px 0 20px;
  margin-top: 67px;
}

.title {
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @background;
  background-size: 320px 462px;
  background-position: top center;
  margin-top: -67px;

  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 237px;
}

@media (min-width: @tablet-width) {
  .title {
    width: 100%;
    min-height: 729px;
    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1200px auto;
    margin-top: -110px;
  }

  .title__text {
    font-size: 50px;
    padding: 81px 91px 0 95px;
    margin-top: 83px;
  }
}

@media (min-width: @desktop-width) {
  .title {
    width: 100%;
    min-height: 395px;
    background-image: url("../../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 2560px auto;
    margin-top: -150px;
  }

  .title__text {
    font-size: 50px;
    padding: 71px 229px 0 232px;
    margin-top: 83px;
  }

  .title-wrapper {
    width: 700px; //ppp
  }
}
