.users-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.users-photo__item {
  .font();
  .reset();
  font-size: 14px;
  color: @primary-color;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 280px;
  margin: auto;
  margin-bottom: 20px;
}

.users-photo__description {
  background-color: @grey;
  .reset();

  width: 280px;
  padding-left: 17px;
  padding-bottom: 28px;
}

.users-photo__user-name {
  font-weight: 700;
}

.users-photo__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.users-photo__text {
  margin-top: -10px;
}

.users-photo__like-counter {
  color: @pink;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 19px;
}

.users-photo__mark-wrapper {
  background-color: @pink;
  width: 140px;
  height: 36px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -36px;
}

.users-photo__mark {
  color: @secondary-color;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.users-photo__like-button {
  path {
    fill: @pink;
  }
}
