.users-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.users-photo__item {
  .font();
  .reset();
  font-size: 14px;
  color: @primary-color;
  font-weight: 400;

  width: 280px;
  margin: auto;
  margin-bottom: 20px;
}

.users-photo__description {
  background-color: @grey;
  .reset();

  width: 280px;
  padding-left: 17px;
  padding-bottom: 28px;
}

.users-photo__user-name {
  font-weight: 700;
}

.users-photo__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.users-photo__text {
  margin-top: -10px;
  line-height: 24px;
}

.users-photo__like-counter {
  color: @pink;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 19px;
}

.users-photo__mark-wrapper {
  background-color: @pink;
  width: 140px;
  height: 36px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
}

.users-photo__mark {
  color: @secondary-color;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.users-photo__like-button {
  color: @pink;

  path {
    fill: @pink;
  }

  .users-photo__like-counter {
    margin-left: 19px;
  }
}

@media (min-width: @tablet-width) {
  .users-photo__user-image {
    width: 300px;
    height: 300px;

    &--panorama {
      height: 509px;
    }
  }

  .users-photo__description {
    width: 300px;
    height: 155px;

    &--panorama {
      width: 620px;
      height: 121px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .users-photo__text {
    &--panorama {
      width: 510px;
    }
  }

  .users-photo__like-button {
    &--panorama {
      order: 1;
    }
  }
}

@media (min-width: @desktop-width) {
  .users-photo__description {
    height: 155px;
  }
}
