a {
  text-decoration: none;
  font-family: "OpenSans", "Arial", sans-serif;
  color: @secondary-color;
}

button {
  font-family: "OpenSans", "Arial", sans-serif;
  padding: 0;
  border: none;
  background-color: transparent;
}

input::-webkit-input-placeholder {
  color: @primary-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

input:-moz-placeholder {
  color: @primary-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
