a {
  text-decoration: none;
  font-family: "OpenSans", "Arial", sans-serif;
  color: @secondary-color;
}

button {
  font-family: "OpenSans", "Arial", sans-serif;
  padding: 0;
  border: none;
  background-color: transparent;
}

path {
  fill: @pink;
}
